In [11]:
import pandas as pd
import re
import pymysql
from sqlalchemy import create_engine

db_data = 'mysql+pymysql://' + 'suleman' + ':' + 'root' + '@' + 'localhost' + ':3306/' \
       + 'twitter' + '?charset=utf8mb4'
# Connect to the database
db = pymysql.connect(host='localhost',
                             user='suleman',
                             password='root',
                             db='twitter',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)
engine = create_engine(db_data)

pattern  = r"RT|(http:\/\/|https:\/\/).*|@(\w+)|\w+…|\w+\.\.|#(\w+)*(?:[\u0900-\u097F]?)+"
csvfile = pd.read_csv("tweets2112121.csv", usecols=['tweet_id', 'text', 'language'])

csvfile.columns = ['id', 'lang', 'tweet']
csvfile.drop_duplicates(subset='id',keep="first", inplace=True)
l = len(csvfile["id"])
csvfile.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20849 entries, 0 to 20855
Data columns (total 3 columns):
id       20849 non-null int64
lang     20849 non-null object
tweet    20849 non-null object
dtypes: int64(1), object(2)
memory usage: 651.5+ KB

In [12]:
   # x = re.sub(pattern,"",csvfile["text"][i])
    #x=re.sub("\s{2,}|[^0-9a-zA-Z|^\u0900-\u097F|^\s]","",x)
    #print(x.strip())
    
def filter(data):
    x = re.sub(pattern,"",data)
    x = re.sub("\s{2,}|[^0-9a-zA-Z|^\u0900-\u097F|^\s]","",x)
    return x

In [13]:
#[^0-9a-zA-Z|^\u0900-\u097F|^\s] --> to remove spl characters
"""with db.cursor() as cursor:
    for i in range(l):
        x = re.sub(pattern,"",csvfile["tweet"][i])
        x = re.sub("\s{2,}|[^0-9a-zA-Z|^\u0900-\u097F|^\s]","",x)
        sql = 'insert into tweets values("%s","%s","%s")'
        params = (int(csvfile["id"][i]), x, csvfile["lang"][i])
        cursor.execute(sql, params)
db.commit()
db.close()"""
csvfile['tweet'] = csvfile['tweet'].apply(filter)

In [14]:
csvfile.to_sql('tweets', engine, if_exists='append', index=False)
print ("ok")

ok

In [15]:
csvfile.loc[[812]]

,id,lang,tweet
812,1225083848255365120,en,मांगेबीजेपीA tribute to my favorite and BJPees...